.topnav {
  height: 100px;
  width: 100%;
  background-color: #01d277;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px;
  margin:0px;
}

#logo {
  padding: 0px;
  color: #FFFFFF;
}

@media (min-width: 320px) {
  #logo { 
    margin: 10px;
    height:30px;
  }
}

@media (min-width: 600px) {
  #logo {
    margin: 20px;
    height:60px;
  }
}

.nav-item {
    padding: 0px;
    color: #FFFFFF;
    font-weight: bold;
}

.nav-item:hover {
  cursor:pointer;
  color: #081c24;
}

@media (min-width: 320px) {
  .nav-item {
    margin: 10px;
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .nav-item {
    margin: 20px;
    font-size: 30px;
  }
}

.suggestion-list {
  position: absolute;
  margin:0px;
  padding:0px;
  z-index: 100000;
  background-color:#FFFFFF;
  list-style-type: none;
}

@media (min-width: 320px) {
  .suggestion-list {
    top: 60px;
    left: 145px;
  }
}

@media (min-width: 600px) {
  .suggestion-list {
    top: 72px;
    left: 275px;
  }
}

.suggestion-list-entry {
  margin: 0px;
  padding:10px;
  border: 1px solid #D3D3D3;
}

.suggestion-list-entry:hover {
  background-color:#D3D3D3;
}

.movies-heading {
  margin-left:50px;
  margin-bottom:20px;
}

.search {
  width: 80%;
  padding: 0px;
  display:inline-block;
  margin: 15px;
}

.search-box {
  width: 60%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  line-height: 1.5;
  background-color: white;
  
  border:none;
  border-radius: 5px;
}

@media (min-width: 320px) {
  .search-box {
    font-size: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 600px) {
  .search-box {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.search-box:focus {
  width:80%;
  outline:none;
}

.movie-list-entry {
  margin-left:10%;
  margin-right:10%;
  margin-bottom:50px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  border-radius: 10px;
  border-top: 10px solid #01d277;
}

.movie-details {
  margin-left: 24px;
}

.movie-title {
  margin-top: 20px;
  margin-bottom: 5px;
}

.movie-poster {
  display:block;

}

@media (min-width: 320px) {
  .movie-poster {
    width: 92px;
    height: 139px;
  }
}

@media (min-width: 600px) {
  .movie-poster {
    width: 185px;
    height: 278px;
  }
}

.movie-overview {
  margin-top: 24px;
  margin-bottom: 24px;
}

.movie-rating {
  font-weight: bold;
  font-size: 24px;
}

.rating-count {
  margin-bottom: 24px;
  font-style:italic;
}

.selected {
  margin: 0px;
  padding:10px;
  border: 1px solid #D3D3D3;
  background-color: #D3D3D3;
}